[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
validate-email = "*"
coverage = "*"
codecov = "*"
six = "*"

[requires]
python_version = "3.7"

[dev-packages]
autopep8 = "*"
