{% extends 'base.html'%}
{% load static %}



{% block content%}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="row">
            <div class="col-md-2">


            </div>
            <div class="col-md-8">
                    <div class="card mt-5">
                            <img src="https://mta-instagram-clone.herokuapp.com/static/img/instagram-wordmark.svg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title text-muted">Set your preffered Password</h5>

                            <div class="row">
                                <div class="col-md-5">
                                    <hr>
                                </div>
                                <div class="col-md-2">
                                    <p class="text-muted">OR</p>
                                </div>
                                <div class="col-md-5">
                                    <hr>
                                </div>
                            </div>

                            {% include 'partials/_flash_messages.html'%}







                            <form action="{% url 'set-new-password' uidb64 token %}" method="post">

                                {% csrf_token %}



<div class="form-group">
        <input class="form-control form-control-sm"
         type="password" name="password" value="" placeholder="Password">


    </div>

    <div class="form-group">
            <input class="form-control form-control-sm"
             type="password" name="password2" value="" placeholder="Confirm Password">


        </div>

        <input type="submit" value="Submit" class="btn btn-sm btn-block btn-primary"/>



                            </form>





                            </div>
                          </div>


<div class="card mt-4">
    <div class="card-body">
        <p>
            Already have an account?<a href="{%url 'login'%}">Login</a>
        </p>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <p>
           Forgot Password? <a href="{% url 'request-reset-email' %}">Reset it here</a>
        </p>
    </div>
</div>

            </div>
            <div class="col-md-2"></div>
        </div>






    </div>
    <div class="col-md-3"></div>
</div>


{% endblock %}
